# Node.js dependencies
backend/node_modules/
frontend/node_modules/

#Configurações do editor
.vscode/
.idea/

#builds
frontend/dist/
backend/build/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db